<footer class="shadow-up bg-light">
    <div class="container pb-1 pt-3">
        <div class="row w-100">
            <div class="col-12 d-flex justify-content-center">
                <img class="img img-responsive" src="~/img/logo.png" height="28" />
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <a class="btn btn-link" asp-controller="Home" asp-action="Credits">Desarrolladores</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <p class="copyright">Copyright ©<span id="year"></span> Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>