<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewData["Title"] - Cine+</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">

    </head>
    <body>

        <div class="container">
            @RenderBody()
        </div>

        <script href="/js/bootstrap.min.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>