@model DomainLayer.Discount
@{
    ViewData["Title"] = "Editar actor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Descuentos</h1>

<div class="container">

    <div class="row">
        <div class="col-sm-6">
            <h3>Editar descuento</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <form method="post" asp-action="Edit">
                <input type="hidden" asp-for="Id" />

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-form="Name" class="text-danger">@Html.ValidationMessage("Name")</span>

                </div>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="DiscountedMoney" class="control-label"></label>
                    <input asp-for="DiscountedMoney" class="form-control" />
                    <span asp-validation-form="DiscountedMoney" class="text-danger">@Html.ValidationMessage("DiscountedMoney")</span>

                </div>

                <div class="form-group">
                    <input type="submit" value="Editar descuento" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

</div>