@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 wrap p-5">
            <h3 class="h1">Escoge la estadística</h3>
            <div class="d-inline-flex">
                <a class="btn btn-outline-primary m-2" asp-controller="Statistics" asp-action="TicketPerDay">Por Horas</a>
                <a class="btn btn-outline-primary m-2" asp-controller="Statistics" asp-action="TicketPerMonth">Por Días</a>
                <a class="btn btn-outline-primary m-2" asp-controller="Statistics" asp-action="TicketPerYear">Por Mes</a>
                <a class="btn btn-outline-primary m-2" asp-controller="Statistics" asp-action="TicketPerPeriod">En intervalo</a>
                <a class="btn btn-outline-primary m-2" asp-controller="Statistics" asp-action="TicketMovie">Por película</a>
                <a class="btn btn-outline-primary m-2" asp-controller="Statistics" asp-action="TicketCountry">Por país</a>

            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>