@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model (IEnumerable<DomainLayer.Genre>, int)
@{
    Layout = "_Layout";
    ViewData["Title"] = "Tickets por película";
}

<div class="container">

    <div class="row wrap d-block p-5 mb-5">
        <div class="row">
            <div class="col-12">
                <h1 class="h1 text-center">Estadísticas por Género</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <form method="post" asp-controller="Statistics" asp-action="TicketGenre">
                    <div class="form-group mb-3">
                        <select class="form-control ms" required data-name="genre" data-field="género(s)" >
                            @foreach(var genre in Model.Item1)
                            {
                                <option value="@genre.Name">@genre.Name</option>
                            }
                        </select> 
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary rounded-pill">
                            Consultar
                        </button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    @if (Model.Item2  >= 0)
    {
        <div class="row justify-content-center">
            <div class="col-12">
                <p class="font-weight-bold">Se vendieron @Model.Item2  entradas de este género. </p>
            </div>
        </div>
    }
</div>

