@model IEnumerable<DomainLayer.Discount>
@using Microsoft.AspNetCore.Html;
@{
    ViewData["Title"] = "Listas de descuento";
    Layout = "~/Views/Shared/_Layout.cshtml";
    TempData["cinema"] = TempData["cinema"];
    TempData["start"] = TempData["start"];
    TempData["end"] = TempData["end"];
    TempData["code"] = TempData["code"];
    TempData["buyForm"] = TempData["buyForm"];
    TempData["codeSeats"] = TempData["codeSeats"];
}

<h1>Listas de descuentos</h1>

<div class="container">
    <div class="row justify-content-center text-center">

        @foreach (var item in (IEnumerable<int>)TempData["seats"])
        {
            ViewData["seat"] = item;
            ViewData["seats"] = TempData["seats"];
            await Html.RenderPartialAsync("_TicketPurchaseCreate", Model, ViewData);
        }

        <a class="btn btn-primary" asp-controller="TicketPurchases" asp-action="Pay">Pagar</a>

    </div>
</div>
