
@{
    ViewData["Title"] = "PayError";
    Layout = "_Layout";
}

<h1>Error al hacer el pago</h1>

<div class="container">
    <div class="row justify-content-center text-center">

        <div> <h1>Error al hacer el pago</h1></div>
       
        <div><a class="btn btn-primary" asp-controller="Home" asp-action="Index">Volver al inicio</a></div>

    </div>
</div>