
@{
    ViewData["Title"] = "Mostrar código";
    Layout = "_Layout";
}


<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col-4"></div>
        <div class="col-4">
            <h1 class="h1">Compra realizada con éxito</h1>
            <p class="text-warning"> <i class="fa fa-warning"></i> Guarde el siguiente código con este podrá cancelar su compra</p>
            <p class="text-center">@TempData["codeSeats"]</p>
            <a class="btn btn-link" asp-controller="Home" asp-action="Index"><i class="fa fa-angle-left"></i> Volver al inicio</a>
        </div>
        <div class="col-4"></div>
    </div>
</div>
