@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Acceso Denegado";
}


<div class="row mt-5">
    <div class="col-12 justify-content-center text-center">
        <span class="counter display-4" data-counter="403"></span>
        <h1 class="h1 text-center"> Acceso denegado</h1>
        <p class="text-center">Lo sentimos, usted no tiene permisos suficientes para acceder a esta página. </p>

        <p class="text-center mt-5"><a asp-controller="Home" asp-action="Index"><i class="fa fa-arrow-left"></i> Volver al Inicio</a></p>
    </div>

</div>
