@using DomainLayer.Identity
@model SignUpModel
@{ViewData["Title"] = "Registro de Usuarios";}

<div class="row mt-5">
    <div class="col-md-3 col-sm-2"></div>
    <div class="col-md-6 col-sm-8">
        <h1>Registro de Usuarios</h1>

        <form asp-controller="Identity" asp-action="SignUp" method="post">
            @Html.ValidationSummary()

            <div class="form-group">
                <label asp-for="Email">Correo Electrónico</label>
                <input type="email" name="Email" asp-for="Email" required class="form-control rounded-pill"/>
            </div>
            <div class="form-group">
                <label asp-for="Password">Contraseña</label>
                <input type="password" name="Password" asp-for="Password" required class="form-control rounded-pill"/>
            </div>

            <div class="form-group">
                <button type="submit" class="form-control btn btn-primary rounded-pill">Registrarme</button>
            </div>
        </form>
    </div>
    <div class="col-md-3 scol-sm-2"></div>
</div>