@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Desarrolladores";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="d-flex">
                <div class="w-100 text-center">
                    <h3 class="mb-4">Desarrolladores</h3>
                </div>
            </div>
            <ul class="dev">
                <li class="dev-item p-4 mb-4 d-flex rounded">
                    <img class="rounded-pill" src="/img/develops/toledo.jpg" />
                    <div class="dev-item-content">
                        <strong>Carlos Toledo Silva</strong>
                        <p>C-311</p>
                        <p><a target="_blank" href="https://t.me/Sinsajo24601"><i class="fa fa-telegram mr-2"></i>@@Sinsajo24601</a></p>
                    </div>
                </li>
                <li class="dev-item p-4 mb-4 d-flex rounded">
                    <img class="rounded-pill" src="/img/develops/ariel.jpg"  />
                    <div class="dev-item-content">
                        <strong>Ariel Alfonso Triana Pérez</strong>
                        <p>C-311</p>
                        <p><a target="_blank" href="https://t.me/atp_ariel"><i class="fa fa-telegram mr-2"></i>@@atp_ariel</a></p>
                    </div>
                </li>
                <li class="dev-item p-4 mb-4 d-flex rounded">
                    <img class="rounded-pill" src="/img/develops/rocio.jpg"  />
                    <div class="dev-item-content">
                        <strong>Rocio Ortíz Gancedo</strong>
                        <p>C-311</p>
                        <p><a target="_blank" href="https://t.me/rocioog"><i class="fa fa-telegram mr-2"></i>@@rocioog</a></p>
                    </div>
                </li>
                <li class="dev-item p-4 mb-4 d-flex rounded">
                    <img class="rounded-pill" src="/img/develops/aylin.jpg" />
                    <div class="dev-item-content">
                        <strong>Aylín Álvarez Santos</strong>
                        <p>C-312</p>
                        <p><a target="_blank" href="https://t.me/Chains99"><i class="fa fa-telegram mr-2"></i>@@Chains99</a></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</div>
