html {
    height: 100%;
}
body {
    background-color: #f3f3f3;
    min-height: 100%;
    margin: 0;
    display: table;
    width: 100%;
}
footer {
    height: 40px !important;
}

body > footer {
    display: table-row;
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.wrap{
    background-color: #fff;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.274);
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.274);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.274);
}

.img-navbar-brand
{
    height:38px;
}

.shadow-down {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.274);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.274);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.274);
}

.shadow-up {
    box-shadow: 0px 5px 7px 8px #00000040;
    -webkit-box-shadow: 0px 5px 7px 8px #00000040;
    -moz-box-shadow: 0px 5px 7px 8px #00000040;
}

.prepended-input > .input-group-prepend > span {
    border-top-left-radius: 50rem !important;
    border-bottom-left-radius: 50rem !important;
    color: white;
    background-color: #64aeff;
    border-color: #64aeff;
}
.prepended-input > input[type="text"],
.prepended-input > input[type="password"] {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-left-color: transparent;
}

.prepended-input > #password-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-right-color: transparent;
}
.prepended-input > .input-group-append > span {
        border-top-right-radius: 50rem !important;
        border-bottom-right-radius: 50rem !important;
        background-color: transparent;
        color: #64aeff;
        border-color: #64aeff;
        border-left-color: transparent;
    }

.prepended-input > .form-control:focus{
    box-shadow: none;
}
.btn-outline-primary {
    border-color: #64aeff;
}

.nav-item {
    margin-left: 1%;
}

.btn-primary {
    background-color: #5147ff;
    border-color: #5147ff;
}

.btn-outline-primary:hover,
.btn-outline-primary:focus,
.btn-outline-primary:active,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #64aeff;
    border-color: #64aeff;
    color: white !important;
}

.form-control 
{
    border-color: #64aeff;
}

.hr-grad{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 2px solid;
    border-image-slice: 1;
    border-image-source: radial-gradient( black 40%, white 60%);
}
.validation-summary-errors > ul > li{
    display: inline;
    color: hsl(0, 96%, 32%);
}

.rounded-125 {
    border-radius: 1.25rem !important;
}

#to-top {
    display: inline-block;
    background-color: #5147ff;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50rem;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#to-top:hover {
    cursor: pointer;
    background-color: #64aeff;
}

#to-top:active {
    background-color: #64aeff;
}

#to-top.show {
    opacity: 1;
    visibility: visible;
}

.dev-item {
    background-color: #fff;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
}

    .dev-item > img {
        width: 100px;
    }

.dev-item-content {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.dev-item-content > p {
    margin-bottom: 0.2rem;
    padding-bottom: 0.2rem;
}

.option {
    border-radius: 0.25rem !important;
    transition: border-radius 0.3s ease-in, background-color 0.1s linear 0s;
}
.option:focus,
.option:active,
.option:hover {
    border-radius: 50rem !important;
}

@media (max-width: 576px) {
    .sm-none {
        display: none !important;
    }
}

.dropdown-submenu > a:after {
    content: "\f0da";
    float: right;
    border: none;
    font-family: 'FontAwesome';
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0px;
    margin-left: 0px;
}